#root {
    width:100%;

}

.text-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.card {
    display: flex;
    flex-direction: row;
}
#carouselExampleControls{
    width: 50%;
}
.error-message {
    color: red;

}


@media only screen and (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
    }
    #carouselExampleControls{
        width: 100%;
    }
}